.vis-container{
	width: 100%;
}
h1{
  text-align: center;
  font-weight: 900;
}
h4{
  margin-top:0px;
  text-align: center;
  font-weight: 300;
}
body{
   background-color: lightgray;
}


.Visualisation{
	width: 1200px;    
	background-color: white;   
	margin: auto;
	padding: 50px;
	padding-top: 35px;
	font-family: 'Source Sans Pro', sans-serif;
}
.map_text{
  margin-bottom: 25px;
  
}
.map{
  width: 680px;
}
#header_background{
  width: 100%;
  height:auto;
  background:url("banner-3520443_1280.png")
}
.barchart{
  left: 100px;
}

.description h2, h1{
  margin-top:0px;
}
.pure-u-1-1{
  padding-left: 0px;
}
.visual_right{
  padding-right: 20px;
}
.bar_chart{
  width: 400px

}
  .seperate {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #a1b5d0, transparent);
    padding-top: 5px;
}

.description h2, h1{
  margin-top:0px;
}
.description-right {
  padding-left: 20px;
}
.description-left{
  padding-right: 20px;
}

.final_world{
  font-size: 14px;
}